---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const articles = await getCollection("blog");

    return articles.map((article) => ({
        params: { slug: article.slug },
        props: { article },
    }));
}

const { article } = Astro.props;
const { Content } = await article.render();
---

<BaseLayout title={article.data.title} description={article.data.summary}>
    <article class="article-content">
        <header class="article-header">
            <h1>{article.data.title}</h1>

            <p class="article-meta">
                {article.data.date.toDateString()}
            </p>
        </header>

        <Content />
    </article>
</BaseLayout>
