---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticlePreview from "../../components/ArticlePreview.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("blog", ({ data }) => !data.draft);

articles.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout title="Blog">
    <main class="container">
        <h1>Blog</h1>

        <div class="article-list">
            {articles.map((article) => <ArticlePreview article={article} />)}
        </div>
    </main>
</BaseLayout>
