---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticlePreview from "../../components/ArticlePreview.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("blog");

articles.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout>
    <h1>Blog</h1>

    {articles.map((article) => <ArticlePreview article={article} />)}
</BaseLayout>
