---
import { getCollection } from "astro:content";

const articles = await getCollection("blog");

// tri du plus récent au plus ancien
articles.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<h1>Blog</h1>

<ul>
  {articles.map((article) => (
    <li>
      <a href={`/blog/${article.slug}`}>
        {article.data.title}
      </a>
      <p>{article.data.summary}</p>
    </li>
  ))}
</ul>