---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const works = await getCollection("works", ({ data }) => !data.draft);
---

<BaseLayout title="Works">
    <main class="container">
        <h1>Works</h1>

        <div class="masonry">
            {works.map((work) => <ProjectCard project={work} />)}
        </div>
    </main>
</BaseLayout>

<style>
    .masonry {
        columns: 3;
        column-gap: 24px;
    }

    @media (max-width: 900px) {
        .masonry {
            columns: 2;
        }
    }

    @media (max-width: 600px) {
        .masonry {
            columns: 1;
        }
    }
</style>
