---
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout>
    <section class="canvas-container">
        <canvas id="home-canvas"></canvas>
    </section>
</HomeLayout>

<style>
    .canvas-container {
        width: 100%;
        height: calc(100vh - 120px);
    }

    canvas {
        display: block;
        width: 100%;
        height: 100%;
        cursor: crosshair;
    }
</style>

<script>
    import "../scripts/homeCanvas";
</script>
