<header class="container header">
    <nav>
        <a href="/">Colin Veron</a>

        <div class="nav-links">
            <a href="/projects">Projects</a>
            <a href="/blog">Blog</a>
            <a href="/about">About</a>
        </div>
    </nav>
</header>

<style>
    .header {
        padding: 24px 0;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        display: flex;
        gap: 24px;
    }
</style>
