---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<BaseLayout>
    <h1>Projects</h1>

    <div class="masonry">
        {projects.map((project) => <ProjectCard project={project} />)}
    </div>
</BaseLayout>

<style>
    .masonry {
        columns: 3;
        column-gap: 24px;
    }
</style>
