---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<BaseLayout>
    <main class="container">
        <h1>Projects</h1>

        <div class="masonry">
            {projects.map((project) => <ProjectCard project={project} />)}
        </div>
    </main>
</BaseLayout>

<style>
    .masonry {
        columns: 3;
        column-gap: 24px;
    }

    @media (max-width: 900px) {
        .masonry {
            columns: 2;
        }
    }

    @media (max-width: 600px) {
        .masonry {
            columns: 1;
        }
    }
</style>
