---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />

        <title>Colin Veron</title>

        <script>
            const theme = localStorage.getItem("theme");

            if (theme) {
                document.documentElement.classList.toggle("light", theme === "light");
            }
        </script>
    </head>

    <body>
        <Header />

        <slot />

        <Footer />
    </body>
</html>
