---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
    <main class="home-main">
        <slot />
    </main>
</BaseLayout>

<style>
    .home-main {
        min-height: calc(100vh - 120px);
    }
</style>
